*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $fontTwo;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 725px) {
  .container {
    width: 80%;
  }
}