$colorOne: #e7eeff;
$colorTwo: #6783c5;
$colorThree: #4564ac;
$colorFour: #2c4f9f;
$colorFive: #0b1326;
$colorSix: #26bfd4;
$colorSeven: #d5d5d5;
$colorEight: rgb(244, 244, 244);

$colorTextDarkBtn: #e7eeff;
$colorTextLightBtn: black;
$colorBtn: #2c4f9f;
$colorBtnHover: #4564ac;
$colorDanger: red;
$colorDangerHover: rgb(191, 0, 0);

$fontOne: 'Architects Daughter', cursive;
$fontTwo: 'Montserrat', sans-serif;

$borderRadiusOne: 1em;
$borderRadiusTwo: .5em;